@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* General styles */
body {
    background-color: #131417; /* Dark gray */
    color: #f2f2f2; /* Light gray text */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    margin: 0;
    padding: 0;
    font-size: 16px; /* Default font size */
    line-height: 1.6; /* Default line height */
}

/* Container styles */
.container {
    text-align: center;
    padding: 20px;
}

/* Heading styles */
.container h3 {
    display: inline-block;
    margin: 0 10px;
    color: #f2f2f2; 
    cursor: pointer;
    font-size: 1.2rem; /* Adjust font size for smaller screens */
}

/* Navigation styles */
#nav {
    transition: all 0.5s ease; /* Smooth transition for all properties */
}

#nav h3 {
    display: inline-block;
    margin: 0 10px;
    color: #f2f2f2; 
    cursor: pointer;
    height: 2.5rem; /* Adjust height for smaller screens */
    overflow: hidden;
    padding: 0.25rem 0.75rem;
}

#nav h3:hover {
    color: #f96d00; 
}

/* About and Contact section styles */
#about, #contact {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#contact.contactActive, #about.aboutActive {
    display: block;
    max-height: none;
    color: white;
    margin-top: 20px; /* Add space between sections */
}

/* Text styles */
.container > p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
    font-size: 1.2rem; /* Adjust font size for smaller screens */
}

/* Animation styles */
.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation > div > div {
    padding: 0.25rem 0.75rem;
    height: 2.5rem; /* Adjust height for smaller screens */
    margin-bottom: 2.5rem; /* Adjust margin for smaller screens */
    display: inline-block;
}

/* Footer styles */
footer {
    background-color: #393e46; /* Dark gray footer */
    padding: 10px;
    text-align: center;
    color: #aaa; /* Light gray for footer text */
}
