#about,#contact{
  display: none ; 
}

#about.aboutActive,
        #contact.contactActive {
            display: block;
            max-height: 1000px; /* Set to a large enough value to accommodate content */
        }